---
layout: page
title: ⚡️Terbaru
permalink: /all/
order: 5
pagination: 
  enabled: true
---
<div class="row">

{% for p in paginator.posts %}
  {% include post-card.html %}
{% endfor %}
</div>
<!-- Aligned to center -->
<nav aria-label="Navigation">
 {% if paginator.total_pages > 1 %}
  <ul class="pagination pagination-lg text-center">
    {% if paginator.previous_page %}
    <li class="page-item previous">
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}"><i class="bi bi-caret-left"></i> Prev</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="page-item next">
        <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', ''}}">Next <i class="bi bi-caret-right"></i></a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</nav>