
    <section class="cd-list overflow-x-scroll overflow-y-hidden w-full h-auto">

      {% for p in site.posts %}
      <article class="cd w-300 bg-light-lm bg-dark-dm">
        <header class="cd-header">
            <p>{{ p.date | date_to_string }}</p>
            <h2 class="texts"><a class="links" href="{{ p.url }}">{{ p.title }}</a></h2>
        </header>

        <div class="cd-author">
            <a href="/{{ p.category }}" class="author-avatar">
                <img src="https://raw.githubusercontent.com/Zxce3/Zxce3/main/icons/{{ p.category | replace: 'js', 'javascript' | replace: 'nodejavascript', 'nodejs' | replace: 'html', 'html5' | replace: 'css', 'css3'  | append:'-logo.svg'}}" alt="">
            </a>
            <svg class="half-circle cs-{{ p.categories | join ',' }}" viewBox= "0 0 106 57">
                <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
            <div class="author-name">
                <div class="author-name-prefix">Category</div>
                {{ p.category }}
            </div>
        </div>
    </article>
          {% endfor %}
  </section>