{% assign cdn = 'https://cdn.jsdelivr.net/gh/zxce3/zxce3/' %}
    <!-- JS SCRIPT START -->
<script src="{{ cdn }}{{ 'js/lazyimg.min.js' }}"></script>
<script src="{{ 'assets/js/zxc.js' | relative_url}}" type="text/javascript"></script>
<script src="{{ '/app.js' | relative_url}}" type="text/javascript"></script>
<script>
  if (zxce3.getPreferredMode() == "light-mode") { } else if (zxce3.getPreferredMode() == "dark-mode") { } else if (zxce3.getPreferredMode() == "not-set") { }
</script>
{% if page.layout == "post" %}
<script src="{{site.url}}{{ 'assets/js/post.js' | relative_url }}"></script>
{% endif %}
{% if page.mermaid %}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>//mermaid.initialize({ startOnLoad: true, darkMode: true });
      mermaid.initialize({
        'startOnload':'true', 'securityLevel': 'loose', 'theme': 'base'
      });
</script>  
{% endif %}
    <!-- JS SCRIPT END -->
