
<nav class="navbar justify-content-between">          
    {%- unless page.layout == "home" -%}
    <a href="{{ site.url | relative_url }}" class="navbar-brand logo ml-10 font-size-16 ml-sm-15">
        <img src="{{ 'assets/' | relative_url }}{{ site.title | downcase }}.svg" class="mr-5 mr-sm-10" alt="{{ site.title | downcase }}-logo">
    </a>
      {%- endunless -%}
      {% if page.layout == "home" %}
    <a href="{{site.url}}{{ '/all/' | relative_url }}" class="navbar-brand ml-10 font-size-16 ml-sm-15">
        ⚡️Terbaru
    </a>
      {% endif %}
      {% if page.layout == "page" or page.layout == "post" or page.layout == "category" or page.layout == "categories" or page.layout == "tag" or page.layout == "tags" or page.layout == "author" %}
    <a href="{{site.url}}{{ '/all/' | relative_url }}" class="navbar-brand hidden-sm-and-down ml-10 font-size-16 ml-sm-15">
        ⚡️Terbaru
    </a>
      {% endif %}
    <ul class="navbar-nav hidden-sm-and-down">
      {%- for category in site.categories -%}
      <li class="nav-item">
        <a href="{{category | first | relative_url}}/" class="nav-link">
          {{ category | first | replace: 'js', 'javascript' | replace: 'nodejavascript', 'nodejs' | replace: 'html', 'HTML' | capitalize}}

        </a>
      </li>
      {%- endfor -%}
    <li class="nav-item d-none dropdown">
      <span class="nav-link" data-toggle="dropdown" id="nav-link-dropdown-toggle">
        Blog 
        <i class="mt-5 bi-caret-down" aria-hidden="true"></i> 
      </span>
      <div class="dropdown-menu dropdown-menu-center" aria-labelledby="nav-link-dropdown-toggle">
        {% for category in site.categories limit:6 %}
        <a href="{{category | first | relative_url}}/" class="dropdown-item">
          {{ category | first | replace: 'js', 'javascript' | replace: 'nodejavascript', 'nodejs' | capitalize}}
          <strong class="badge c-{{ category | first }} float-right"></strong> 
        </a>
        {% endfor %}        
        <div class="dropdown-divider"></div>
        <div class="dropdown-content">
          <a href="{{'/category/' | relative_url}}" class="btn btn-block" role="button">
            Semua
            <i class="ml-5" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </li>
    </ul>
    <div class="navbar-content ml-auto">
          <a href="#search-modal" class="btn mr-5" aria-label="search-btn" type="button"><i class="bi-search"></i></a>
      <button class="btn btn-action ml-5 hidden-sm-and-down" type="button" onclick="zxce3.toggleDarkMode()" aria-label="Toggle dark mode">
                    <i class="bi-moon-fill hidden-lm" aria-hidden="true"></i>
                    <i class="bi-moon hidden-dm" aria-hidden="true"></i>
                </button>

            <button class="btn mr-5 navbar-menu-btn hidden-md-and-up" onclick="zxce3.toggleSidebar()" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-bricks"></i>
            </button>
    </div>
</nav>