<!--
  Navigation buttons at the bottom of the post.
-->
<div class="row">
  <!-- Baru -->
<div class="col-12 col-md-6">
    {% if page.next.url %}
<a href="{{page.next.url | relative_url}}" class="card m-5 ats-card mw-full m-0 p-0 d-flex text-left">
    <div class="flex-grow-1 d-flex align-items-left">
        <div class="p-10 h-100 w-full m-auto">
            <p class="m-0 font-weight-bold font-size-12 text-muted">
            {{ site.data.label.post.button.next | default: 'next' }}
            </p>
            <p class="m-0 mt-5 text-light-dm font-size-16">
                {{ page.next.title | capitalize }}
            </p>
        </div>
    </div>
</a>
{% endif %}
</div>
<!-- Baru -->
<!-- Lama -->
<div class="col-12 col-md-6">
    {% if page.previous.url %}
<a href="{{ site.baseurl }}{{ page.previous.url }}" class="card m-5 ats-card mw-full text-right m-0 p-0 d-flex">
    <div class="flex-grow-1 d-flex align-items-right">
        <div class="p-10 h-100 w-full m-auto">
            <p class="m-0 font-weight-bold font-size-12 text-muted">
                {{ site.data.label.post.button.previous | default: 'previous' }}
            </p>
            <p class="m-0 mt-5 text-light-dm font-size-16">
                {{ page.previous.title | capitalize }}
            </p>
        </div>
    </div>
</a>
{%endif%}
</div>

<!-- Lama -->
</div>