/* Icons CSS */

/* Menu Icons */
.menu.icon {
position: absolute;
margin-left: -8px;
width: 17px;
height: 1px;
background-color: currentColor;
}
.menu.icon:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 17px;
  height: 1px;
  background-color: currentColor;
}

.menu.icon:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 17px;
  height: 1px;
  background-color: currentColor;
}

/* Moon Icon */
.moon.icon {
    color: #000;
    position: absolute;
    margin-left: -6px;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border-top: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
    border-left: solid 1px currentColor;
    border-right: solid 1px transparent;
}
.moon.icon.sm {
    color: #000;
    position: absolute;
    margin-left: -15px;
    margin-top: 8px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border-top: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
    border-left: solid 1px currentColor;
    border-right: solid 1px transparent;
}
.moon.icon:before {
  content: '';
  position: absolute;
  left: 6px;
  top: 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: solid 1px transparent;
  border-bottom: solid 1px currentColor;
  border-left: solid 1px currentColor;
  border-right: solid 1px transparent;
}


/* Sun Icons */
.sun.icon {
    position: absolute;
    margin-left: -4px;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 4px solid currentColor;
    box-shadow: -8px 0 0 -3px currentColor,  8px 0 0 -3px currentColor,  0 -8px 0 -3px currentColor,  0 8px 0 -3px currentColor,  -6px -6px 0 -3px currentColor,  -6px 6px 0 -3px currentColor,  6px -6px 0 -3px currentColor,  6px 6px 0 -3px currentColor;
}
.sun-sm.icon {
    position: absolute;
    margin-left: -17px;
    margin-top: 11px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 4px solid currentColor;
    box-shadow: -8px 0 0 -3px currentColor,  8px 0 0 -3px currentColor,  0 -8px 0 -3px currentColor,  0 8px 0 -3px currentColor,  -6px -6px 0 -3px currentColor,  -6px 6px 0 -3px currentColor,  6px -6px 0 -3px currentColor,  6px 6px 0 -3px currentColor;
}

/* Arrow Down Icons */
.arrow-down.icon {
    /* color: #000; */
    position: absolute;
    margin-left: 37px;
    margin-top: 2px;
    /* width: 1px; */
    height: 16px;
    background-color: currentColor;
}

.arrow-down.icon:before {
    content: '';
    position: absolute;
    left: -5px;
    top: 3px;
    width: 6px;
    height: 6px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}


/* Social icons */
.facebook.icon{
	background-color: white;
	border-radius: 40%;
	content: url(/assets/icons/facebook-logo.svg);
}
.linkedin.icon{
	content: url(/assets/icons/linkedin-logo.svg);
}
.telegram.icon{
	content: url(/assets/icons/telegram-logo.svg);
}
.twitter.icon{
	content: url(/assets/icons/twitter-logo.svg);
}
.github.icon {
    background: #fff;
    content: url(/assets/icons/github-logo.svg);
    fill: currentColor;
    border-radius: 40%;
}
.web.icon {
    background: #ffffffcf;
    content: url(/assets/icons/web-logo.svg);
    fill: currentColor;
    border-radius: 40%;
}