---
layout: compress
---
/* Landing styles. Copyright Halfmoon UI */

.zxa-container,
.propellant-particles-container-row {
    width: 100%;
}
.zxa {
    display: block;
    margin: auto;
    pointer-events: none;
    /*max-width: 100%;*/
    height: 20rem ;
    width: 20rem ;
    max-width: 100%;
    max-height: 100%;
}
.zxa:hover{
    height: 25rem;
    width: 25rem;
}
.zxa-author {
    display: block;
    margin: auto;
    pointer-events: none;
    /*max-width: 100%;*/
    height: 20rem ;
    width: 20rem ;
    max-width: 100%;
    max-height: 100%;
}


/* Notice link */

a.notice-link {
    display: block;
    border-radius: 2rem;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.025);
}
a.notice-link:hover {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.05);
    text-decoration: none;
}

/* Scrollbar */

@media (min-width: 769px) {
    .dark-mode.with-custom-webkit-scrollbars .content-wrapper::-webkit-scrollbar-track:vertical {
        border-left: none;
    }
    .dark-mode.with-custom-css-scrollbars .content-wrapper {
        scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
    }
}

/* Sponsor section card */

.ats-card {
    display: block;
    text-decoration: none;
}
.dark-mode .ats-card {
    background-color: #1e2125;
}
.ats-card:hover {
    text-decoration: none;
}
.ats-card:focus {
    text-decoration: none;
    box-shadow: 0 0 0 0.2rem rgba(24, 144, 255, 0.6);
    outline: none;
}
.font-size-10 {
    font-size: 1rem;
}
.h-120 {
    height: 12rem;
}
.ats-card-scroll-block {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1rem;
    border-bottom-right-radius: 0.4rem;
    background-color: rgba(255, 255, 255, 0.975);
}
.dark-mode .ats-card-scroll-block {
    background-color: rgba(30, 33, 37, 0.95);
}
.ats-card,
.ats-card:hover,
.ats-card:focus,
.ats-card:active {
    color: rgba(0, 0, 0, 0.7);
}
.dark-mode .ats-card,
.dark-mode .ats-card:hover,
.dark-mode .ats-card:focus,
.dark-mode .ats-card:active {
    color: rgba(255, 255, 255, 0.6);
}
.w-60 {
    width: 6rem;
}
.h-60 {
    height: 6rem;
}
/* Only for landing */
.dark-mode .ats-card:not(:focus) {
    border-color: rgba(255, 255, 255, 0.025) transparent transparent transparent;
    box-shadow: 0 0.2rem rgba(0, 0, 0, 0.1);
}
