---
layout: compress
---


.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #0099FF; font-style: italic } /* Comment */
.highlight .err { color: #AA0000; background-color: #FFAAAA } /* Error */
.highlight .k { color: #006699; font-weight: bold } /* Keyword */
.highlight .o { color: #555555 } /* Operator */
.highlight .cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #009999 } /* Comment.Preproc */
.highlight .c1 { color: #0099FF; font-style: italic } /* Comment.Single */
.highlight .cs { color: #0099FF; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #003300; font-weight: bold } /* Generic.Heading */
.highlight .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.highlight .go { color: #AAAAAA } /* Generic.Output */
.highlight .gp { color: #000099; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #003300; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #99CC66 } /* Generic.Traceback */
.highlight .kc { color: #006699; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #006699 } /* Keyword.Pseudo */
.highlight .kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #007788; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #FF6600 } /* Literal.Number */
.highlight .s { color: #CC3300 } /* Literal.String */
.highlight .na { color: #330099 } /* Name.Attribute */
.highlight .nb { color: #336666 } /* Name.Builtin */
.highlight .nc { color: #00AA88; font-weight: bold } /* Name.Class */
.highlight .no { color: #336600 } /* Name.Constant */
.highlight .nd { color: #9999FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #CC0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #CC00FF } /* Name.Function */
.highlight .nl { color: #9999FF } /* Name.Label */
.highlight .nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #330099; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #003333 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #FF6600 } /* Literal.Number.Float */
.highlight .mh { color: #FF6600 } /* Literal.Number.Hex */
.highlight .mi { color: #FF6600 } /* Literal.Number.Integer */
.highlight .mo { color: #FF6600 } /* Literal.Number.Oct */
.highlight .sb { color: #CC3300 } /* Literal.String.Backtick */
.highlight .sc { color: #CC3300 } /* Literal.String.Char */
.highlight .sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #CC3300 } /* Literal.String.Double */
.highlight .se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #CC3300 } /* Literal.String.Heredoc */
.highlight .si { color: #AA0000 } /* Literal.String.Interpol */
.highlight .sx { color: #CC3300 } /* Literal.String.Other */
.highlight .sr { color: #33AAAA } /* Literal.String.Regex */
.highlight .s1 { color: #CC3300 } /* Literal.String.Single */
.highlight .ss { color: #FFCC33 } /* Literal.String.Symbol */
.highlight .bp { color: #336666 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #003333 } /* Name.Variable.Class */
.highlight .vg { color: #003333 } /* Name.Variable.Global */
.highlight .vi { color: #003333 } /* Name.Variable.Instance */
.highlight .il { color: #FF6600 } /* Literal.Number.Integer.Long */

/*dark-mode highlight*/
/*.dark-mode .highlight pre { background-color: #272822; }*/
.dark-mode .highlight .hll { background-color: #272822; }
.dark-mode .highlight .c { color: #75715e } /* Comment */
.dark-mode .highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.dark-mode .highlight .k { color: #66d9ef } /* Keyword */
.dark-mode .highlight .l { color: #ae81ff } /* Literal */
.dark-mode .highlight .n { color: #f8f8f2 } /* Name */
.dark-mode .highlight .o { color: #f92672 } /* Operator */
.dark-mode .highlight .p { color: #f8f8f2 } /* Punctuation */
.dark-mode .highlight .cm { color: #75715e } /* Comment.Multiline */
.dark-mode .highlight .cp { color: #75715e } /* Comment.Preproc */
.dark-mode .highlight .c1 { color: #75715e } /* Comment.Single */
.dark-mode .highlight .cs { color: #75715e } /* Comment.Special */
.dark-mode .highlight .ge { font-style: italic } /* Generic.Emph */
.dark-mode .highlight .gs { font-weight: bold } /* Generic.Strong */
.dark-mode .highlight .kc { color: #66d9ef } /* Keyword.Constant */
.dark-mode .highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.dark-mode .highlight .kn { color: #f92672 } /* Keyword.Namespace */
.dark-mode .highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.dark-mode .highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.dark-mode .highlight .kt { color: #66d9ef } /* Keyword.Type */
.dark-mode .highlight .ld { color: #e6db74 } /* Literal.Date */
.dark-mode .highlight .m { color: #ae81ff } /* Literal.Number */
.dark-mode .highlight .s { color: #e6db74 } /* Literal.String */
.dark-mode .highlight .na { color: #a6e22e } /* Name.Attribute */
.dark-mode .highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.dark-mode .highlight .nc { color: #a6e22e } /* Name.Class */
.dark-mode .highlight .no { color: #66d9ef } /* Name.Constant */
.dark-mode .highlight .nd { color: #a6e22e } /* Name.Decorator */
.dark-mode .highlight .ni { color: #f8f8f2 } /* Name.Entity */
.dark-mode .highlight .ne { color: #a6e22e } /* Name.Exception */
.dark-mode .highlight .nf { color: #a6e22e } /* Name.Function */
.dark-mode .highlight .nl { color: #f8f8f2 } /* Name.Label */
.dark-mode .highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.dark-mode .highlight .nx { color: #a6e22e } /* Name.Other */
.dark-mode .highlight .py { color: #f8f8f2 } /* Name.Property */
.dark-mode .highlight .nt { color: #f92672 } /* Name.Tag */
.dark-mode .highlight .nv { color: #f8f8f2 } /* Name.Variable */
.dark-mode .highlight .ow { color: #f92672 } /* Operator.Word */
.dark-mode .highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.dark-mode .highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.dark-mode .highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.dark-mode .highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.dark-mode .highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.dark-mode .highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.dark-mode .highlight .sc { color: #e6db74 } /* Literal.String.Char */
.dark-mode .highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.dark-mode .highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.dark-mode .highlight .se { color: #ae81ff } /* Literal.String.Escape */
.dark-mode .highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.dark-mode .highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.dark-mode .highlight .sx { color: #e6db74 } /* Literal.String.Other */
.dark-mode .highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.dark-mode .highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.dark-mode .highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.dark-mode .highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.dark-mode .highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.dark-mode .highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.dark-mode .highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.dark-mode .highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */
.dark-mode .highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.dark-mode .highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.dark-mode .highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
/* Halfmoon Highlight JS theme */

.dark-mode .highlight {
    color: #383a42;
    background-color: #181818;
}
.highlight {
    display: block;
    overflow-x: auto;
    color: #383a42;
    background-color: #dde2e3;
    border-radius: 0px 12px 12px 12px;
    margin: 1rem !important;
    padding-left: 1rem;
    padding-top: 0rem !important;
    padding-bottom: 1rem;
    margin-top: -1rem !important;
}
.highlight-comment,
.highlight-quote {
  color: #a0a1a7;
}
.highlight-doctag,
.highlight-keyword,
.highlight-formula {
  color: #a626a4;
}
.highlight-section,
.highlight-name,
.highlight-selector-tag,
.highlight-deletion,
.highlight-subst {
  color: #e45649;
}
.highlight-literal {
  color: #0184bb;
}
.highlight-string,
.highlight-regexp,
.highlight-addition,
.highlight-attribute,
.highlight-meta-string {
  color: #50a14f;
}
.highlight-built_in,
.highlight-class .highlight-title {
  color: #c18401;
}
.highlight-attr,
.highlight-variable,
.highlight-template-variable,
.highlight-type,
.highlight-selector-class,
.highlight-selector-attr,
.highlight-selector-pseudo,
.highlight-number {
  color: #986801;
}
.highlight-symbol,
.highlight-bullet,
.highlight-link,
.highlight-meta,
.highlight-selector-id,
.highlight-title {
  color: #4078f2;
}
.highlight-emphasis {
  font-style: italic;
}
.highlight-strong {
  font-weight: bold;
}
.highlight-link {
  text-decoration: underline;
}

/* Dark mode */

.dark-mode .highlight {
  color: #ecf0f1;
  background-color: #1a1d24;
}
.dark-mode .highlight-keyword,
.dark-mode .highlight-operator {
  color: #f92672;
}
.dark-mode .highlight-pattern-match {
  color: #f92672;
}
.dark-mode .highlight-pattern-match .highlight-constructor {
  color: #61aeee;
}
.dark-mode .highlight-function {
  color: #61aeee;
}
.dark-mode .highlight-function .highlight-params {
  color: #a6e22e;
}
.dark-mode .highlight-function .highlight-params .highlight-typing {
  color: #fd971f;
}
.dark-mode .highlight-module-access .highlight-module {
  color: #7e57c2;
}
.dark-mode .highlight-constructor {
  color: #e2b93d;
}
.dark-mode .highlight-constructor .highlight-string {
  color: #9ccc65;
}
.dark-mode .highlight-comment,
.dark-mode .highlight-quote {
  color: rgba(255, 255, 255, 0.25);
}
.dark-mode .highlight-doctag,
.dark-mode .highlight-formula {
  color: #c678dd;
}
.dark-mode .highlight-section,
.dark-mode .highlight-name,
.dark-mode .highlight-selector-tag,
.dark-mode .highlight-deletion,
.dark-mode .highlight-subst {
  color: #e06c75;
}
.dark-mode .highlight-literal {
  color: #56b6c2;
}
.dark-mode .highlight-string,
.dark-mode .highlight-regexp,
.dark-mode .highlight-addition,
.dark-mode .highlight-attribute,
.dark-mode .highlight-meta-string {
  color: #98c379;
}
.dark-mode .highlight-built_in,
.dark-mode .highlight-class .highlight-title {
  color: #e6c07b;
}
.dark-mode .highlight-attr,
.dark-mode .highlight-variable,
.dark-mode .highlight-template-variable,
.dark-mode .highlight-type,
.dark-mode .highlight-selector-class,
.dark-mode .highlight-selector-attr,
.dark-mode .highlight-selector-pseudo,
.dark-mode .highlight-number {
  color: #d19a66;
}
.dark-mode .highlight-symbol,
.dark-mode .highlight-bullet,
.dark-mode .highlight-link,
.dark-mode .highlight-meta,
.dark-mode .highlight-selector-id,
.dark-mode .highlight-title {
  color: #61aeee;
}
.dark-mode .highlight-emphasis {
  font-style: italic;
}
.dark-mode .highlight-strong {
  font-weight: bold;
}
.dark-mode .highlight-link {
  text-decoration: underline;
}

kbd {
  font-family: Consolas, "Lucida Console", monospace;
  display: inline-block;
  border-radius: 3px;
  padding: 0px 4px;
  box-shadow: 1px 1px 1px #777;
  margin: 2px;
  font-size: small;
  vertical-align: text-bottom;
  background: #eee;
  font-weight: 500;
  color: #555;
  cursor: pointer;
  font-variant: small-caps;
  font-weight: 600;

  /* This two work */
  /* letter-spacing: 0.5px; */
  letter-spacing: 1px;


  /* Prevent selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

kbd:hover, kbd:hover * {
  color: black;
  /* box-shadow: 1px 1px 1px #333; */
}
kbd:active, kbd:active * {
  color: black;
  box-shadow: 1px 1px 0px #ddd inset;
}

kbd kbd {
  padding: 0px;
  margin: 0 1px;
  box-shadow: 0px 0px 0px black;
  vertical-align: baseline;
  background: none;
}

kbd kbd:hover {
  box-shadow: 0px 0px 0px black;
}

kbd:active kbd {
  box-shadow: 0px 0px 0px black;
  background: none;
}

/* Deep blue */
kbd.deep-blue, .deep-blue kbd {
  background: steelblue;
  color: #eee;
}

kbd.deep-blue:hover, kbd.deep-blue:hover *, .deep-blue kbd:hover {
  color: white;
}

/* Dark apple */
kbd.dark-apple, .dark-apple kbd {
  background: black;
  color: #ddd;
}

kbd.dark-apple:hover, kbd.dark-apple:hover *, .dark-apple kbd:hover {
  color: white;
}

/* Type writer */
kbd.type-writer, .type-writer kbd {
  border-radius: 10px;
  background: #333;
  color: white;
}
