---
layout: default
---

<div class="content-wrapper zxbg">
    {% include navbar.html %}
    <div class="card p-0 shadow-lg">
        <div id="dsh" class="content">
            <img alt="Logo {{ site.title }}" class="zxa" src="assets/{{ site.title | downcase }}.svg">

            <h1 class="hero-header text-center">
                <strong class="font-weight-bolder">{{ site.title }}<span class="blink">|</span></strong>
            </h1>
            <div class="text-center">
            <a href="/all/" class="btn btns btn-primary is-cta" role="button">
                Blog
            </a>
            <a href="/info/" class="btn btns ml-10 is-cta" role="button">
                Info
            </a>
        </div>
        </div>
</div>
    <div class="card p-0 shadow-lg">
        <p class="cat-title d-flex justify-content-center text-center">                
            ⚡️Terbaru
        </p>
        <div class="content">
                {% include card.html %}
        </div>
    </div>
{% for cat in site.categories %}
    <div class="shadow-lg">
            <p class="cat-title d-flex justify-content-center text-center">                
                <img width="30" src="https://raw.githubusercontent.com/Zxce3/Zxce3/main/icons/{{ cat | first | replace: 'js', 'javascript' | replace: 'nodejavascript', 'nodejs' | replace: 'html', 'html5' | replace: 'css', 'css3'  | append:'-logo.svg'}}" alt="{{ cat | first }}">
                 {{ cat.first | capitalize }}
            </p>
            <div class="content">
                <div class="row">
                {% for p in cat.last limit:6 %}
                {% include post-card.html %}
                {% endfor %}
            </div>
            </div>
    </div>
{% endfor %}
{% include footer.html %}
</div>
